body
{
}
header{
    background-color:#504d54;
    width:100%;
    margin:auto;
    height: 158px;
    position: fixed;
     
}
.secFas
{
    background-color:#504d54;
    float:left;
    width:20%;
    
}
.navbar
{
    background-color:#504d54;
    float:left;
    font-family: Genath,Times,serif;
    font-size:x-large;
    
    width:60%;
    
}
header section p
{
    
    color:#d7d5d8;
        font-family: Genath,Times,serif;
        font-size:50px;
        margin-left:100px;
        padding: 0px 11px;
         
        
}
header nav a
{
    color:#aeabb2;
    display: block;
    text-decoration: none;
   
}

header ul
{
     
     list-style-type:none;
     margin: 5px;
     padding: 5px;
    
     overflow:hidden;
     
     
}
header ul li
{
    display:inline-block;
   
    text-align: center;
}
header a:hover {
    background-color: #555;
    color: white;
}
header ul li a
{
    padding: 8px 16px;
}
.sepet
{
    width:20%;
    float:left;
    
   
}
header section.sepet label
{
     color:#d7d5d8;
        font-family: Genath,Times,serif;
        font-size:23px;
        
   
        
    
}

